.campfire {
  overflow: hidden;
  user-select: none;
}

h1 {
  margin: 0 auto;
  text-shadow: 0 0 3px black;
}

.rondin {
  position: absolute;
  bottom: 110px;
  right: 50%;
  transform: translateX(50%) scaleX(1.1);
  user-select: none;
}

:root {
  --ignited-icon-size: 82px;
  --negative-ignited-icon-size: calc(var(--ignited-icon-size) * -1);
  --ignited-bottom: 13px;
}

.icon-container {
  position: absolute;

  bottom: var(--ignited-bottom);
  width: var(--ignited-icon-size);
  height: var(--ignited-icon-size);
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  overflow: hidden;
}

/* 6 sprite */
@keyframes bloop {
  0% {
    transform: translate(calc(-100% + var(--ignited-icon-size)), 50%);
  }
  16.66% {
    transform: translate(0, 50%);
  }
  33.33% {
    transform: translate(var(--negative-ignited-icon-size), 50%);
  }
  50% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 2), 50%);
  }
  66.66% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 3), 50%);
  }
  83.33% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 4), 50%);
  }
  100% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 5), 50%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.icon {
  position: absolute;
  bottom: 50%;
  left: 0;
  height: var(--ignited-icon-size);
  transform: translate(calc(-100% + var(--ignited-icon-size)), 50%);
  user-select: none;
  opacity: 100%;
  transition: opacity 0.5s ease;
}

.icon-top {
  filter: brightness(0) saturate(100%) invert(47%) sepia(24%) saturate(4595%) hue-rotate(331deg)
    brightness(100%) contrast(99%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.icon.clicked {
  animation: bloop 0.5s step-end forwards;
}

.icon.clicked.ignited {
  animation: bloop 0.5s step-end forwards;
  opacity: 0;
}

.icon.ignited {
  opacity: 0;
}

.icon.ignited.icon-top {
  opacity: 100%;
}

@keyframes halo-icon {
  0% {
    transform: translate(-50%, calc(50% - var(--ignited-icon-size) / 2)) scale(1);
  }
  100% {
    transform: translate(-50%, calc(50% - var(--ignited-icon-size) / 2)) scale(1.2);
  }
}

@keyframes icon-white-to-red {
  0% {
    filter: hue-rotate(0deg) sepia(0) saturate(100) brightness(100%);
  }
  100% {
    filter: brightness(40%) sepia(100) saturate(75) hue-rotate(20deg);
  }
}

.halo-icon-container {
  position: absolute;
  width: 100%;
  bottom: var(--ignited-bottom);
  right: 50%;
  transform: translateX(50%);
  height: 70px;
}

.halo-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: calc(var(--ignited-icon-size) - 25px);
  width: calc(var(--ignited-icon-size) - 25px);
  border-radius: 50%;
  transform: translate(-50%, calc(50% - var(--ignited-icon-size) / 2)) scale(1);
  opacity: 0;
  background-color: white;
  transition: opacity 0.5s ease 0.5s;
}

.halo-icon.not-ignited {
  animation: halo-icon 0.4s infinite alternate;
  opacity: 0.2;
}

.halo-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 110px);
  overflow: hidden;
}

.halo {
  position: absolute;
  left: 50%;
  top: calc(500px - 180px);

  border-radius: 50%;
  background-color: #fdffa4;
  opacity: 0.3;
  animation: halo 0.4s infinite alternate;
}

.halo-1 {
  width: 256px;
  height: 256px;
  animation-delay: 0.3s;
}

.halo-2 {
  width: 150px;
  height: 150px;
  background-color: #292c21;
}

.flame-container {
  position: absolute;
  width: 256px;
  height: 256px;
  overflow: hidden;
  bottom: 146px;
  left: 50%;
  transform: translateX(-50%);
}

.flame {
  position: absolute;
  top: 0;
  left: 0;
  height: 256px;
  width: calc(256px * 6);
  object-fit: cover;
  animation: flame 0.8s infinite step-end forwards;
}

.schedule {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.glass {
  width: 100%;
  height: 100%;
}

@keyframes clouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}

.clouds-container {
  right: 0;
  display: flex;
  position: absolute;
  animation: clouds 80s infinite linear forwards;
}

@keyframes flame {
  0% {
    transform: translateX(0);
  }
  16.666% {
    transform: translateX(-256px);
  }
  33.333% {
    transform: translateX(-512px);
  }
  50% {
    transform: translateX(-768px);
  }
  66.666% {
    transform: translateX(-1024px);
  }
  83.333% {
    transform: translateX(-1280px);
  }
  100% {
    transform: translateX(-1536px);
  }
}

@keyframes halo {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.025);
  }
}

.inputs-container {
  position: absolute;
  top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  gap: 5px;
  padding-inline: 10px;
}

.input-container {
  width: 100%;
}

.input-container label {
  position: absolute;
  top: 5px;
  left: 5px;

  font-size: 0px;
  color: transparent;
  height: 33px;
  width: 49px;
  z-index: 1;
}

.inputs-container .box {
  width: 100%;
}

.inputs-container input {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 33px;
  padding: 0;
  margin: 0;
  font-size: 0px;
  text-align: end;
  width: 49px;

  background-color: transparent;
  font-family: 'Minecraft';
  border: 1px solid #000000;
  border-radius: 1px;
  outline: none;
  color: transparent;
}

.input-container input:focus {
  outline: none;
}

.input-container .glass {
  position: absolute;
  top: 0;
}

.inputs-container .input-value {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 33px;
  line-height: 55px;
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-align: end;
  width: 49px;
  background-color: transparent;
  font-family: 'Minecraft';

  outline: none;
  color: white;
  pointer-events: none;
}

input[type='number'] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* hide cursor blink */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.log,
.twig,
.stick {
  position: absolute;
  bottom: 11px;
  right: -13px;
  height: 32px;
  width: 32px;
  transform: translateX(-50%);
}

.twig {
  right: -14px;
  bottom: 12px;
}
