@font-face {
  font-family: 'Minecraft';
  src: url('./assets/Minecraftia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Minecraft';
  color: #ffdc18;
  background-color: #2f3241;
}

#root {
  min-height: calc(100vh);
  padding-top: 30px;
  display: grid;
  grid-template-rows: 1fr;
  background: url(./assets/background.gif) no-repeat center center fixed;
  background-size: cover;
  background-position: 0 0;
}
.main {
  min-height: calc(100vh - 30px);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

ul {
  list-style: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: #26282e;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 85%;
}

a {
  color: #86a5b1;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;
  padding: 15px 30px 0 30px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.links a {
  font-weight: 500;
}

.links .link-item {
  padding: 0 4px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.features .feature-item {
  width: 100%;
  box-sizing: border-box;
}

.features > .feature-item {
  background-color: rgba(194, 245, 255, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  height: 100%;
}

input {
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  color: #272727;
}

.d-inline {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
.inline-gap-10 {
  column-gap: 10px;
}

.gap-10 {
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

button {
  background-color: #3282f7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
  height: min-content;
  align-self: center;
}

.bg-green {
  background-color: #1aa68a;
}
.bg-red {
  background-color: #f3696c;
}

.ellipsis {
  white-space: nowrap; /* This prevents the text from wrapping onto the next line */
  overflow: hidden; /* This will hide the text that doesn't fit */
  text-overflow: ellipsis;
}

.red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f3696c;
  margin: 0 10px;
}

.green-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1aa68a;
  margin: 0 10px;
}

*::-webkit-scrollbar-thumb {
  width: 15px;
  background: #3e4654;
  border-radius: 7px 0 0 7px;
}
*::-webkit-scrollbar {
  height: 15px;
  width: 15px;
  border-radius: 7px;
}
