.halo-icon-container {
  position: absolute;
  width: 100%;
  bottom: var(--ignited-bottom);
  right: 50%;
  transform: translateX(50%);
  height: 70px;
}

.halo-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: calc(var(--ignited-icon-size) - 25px);
  width: calc(var(--ignited-icon-size) - 25px);
  border-radius: 50%;
  transform: translate(-50%, calc(50% - var(--ignited-icon-size) / 2)) scale(1);
  opacity: 0;
  background-color: white;
  transition: opacity 0.5s ease 0.5s;
}

.halo-icon.not-ignited {
  animation: halo-icon 0.4s infinite alternate;
  opacity: 0.2;
}

@keyframes halo-icon {
  0% {
    transform: translate(-50%, calc(50% - var(--ignited-icon-size) / 2)) scale(1);
  }
  100% {
    transform: translate(-50%, calc(50% - var(--ignited-icon-size) / 2)) scale(1.2);
  }
}

.icon {
  position: absolute;
  bottom: 50%;
  left: 0;
  height: var(--ignited-icon-size);
  transform: translate(calc(-100% + var(--ignited-icon-size)), 50%);
  user-select: none;
  opacity: 100%;
  transition: opacity 0.5s ease;
}

.icon-top {
  filter: brightness(0) saturate(100%) invert(47%) sepia(24%) saturate(4595%) hue-rotate(331deg)
    brightness(100%) contrast(99%);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.icon.clicked {
  animation: bloop 0.5s step-end forwards;
}

.icon.clicked.ignited {
  animation: bloop 0.5s step-end forwards;
  opacity: 0;
}

.icon.ignited {
  opacity: 0;
}

.icon.ignited.icon-top {
  opacity: 100%;
}

@keyframes icon-white-to-red {
  0% {
    filter: hue-rotate(0deg) sepia(0) saturate(100) brightness(100%);
  }
  100% {
    filter: brightness(40%) sepia(100) saturate(75) hue-rotate(20deg);
  }
}

/* 6 sprite */
@keyframes bloop {
  0% {
    transform: translate(calc(-100% + var(--ignited-icon-size)), 50%);
  }
  16.66% {
    transform: translate(0, 50%);
  }
  33.33% {
    transform: translate(var(--negative-ignited-icon-size), 50%);
  }
  50% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 2), 50%);
  }
  66.66% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 3), 50%);
  }
  83.33% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 4), 50%);
  }
  100% {
    transform: translate(calc(var(--negative-ignited-icon-size) * 5), 50%);
  }
}

.icon-container {
  position: absolute;

  bottom: var(--ignited-bottom);
  width: var(--ignited-icon-size);
  height: var(--ignited-icon-size);
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  overflow: hidden;
}
